{% comment %} <div>CTH2</div> {% endcomment %}

<script>

    $(document).ready(function(){
        {% comment %} console.log("CTH2"); {% endcomment %}
        let my_address = window.location.href;
        let my_shop = Shopify.shop;
        console.log(my_address);
        console.log("DONE CTH FINAL YES");
        if(my_address.includes("redemption"))
        {
            const queryString = window.location.search;
            console.log(queryString);

            const urlParams = new URLSearchParams(queryString);
            console.log(urlParams);

            const variant_id = urlParams.get('variant_id');
            console.log(variant_id);

            const discount_code = urlParams.get('discount_code');
            console.log(discount_code);

            if(variant_id && discount_code)
            {
                {% comment %} console.log("INSIDE CTH"); {% endcomment %}

                let formData2 = {

                    items: [
                      {
                        quantity: 1,
                        id: variant_id,
                      }
                    ]

                  };

                fetch('/cart/add.js', {
                    method: 'POST',
                    headers: {
                      'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(formData2)
                  })
                  .then(response => {
                    return response.json();
                  })
                  .then((data) => {
                    console.log(data);

                    {% comment %} var action_src = "https://"+Shopify.shop+"/checkout?discount=" + discount_code;
                    console.log(action_src);
                    window.location.href = action_src; {% endcomment %}
                    window.location.href = "https://"+Shopify.shop+"/cart";
                    localStorage.setItem("discount_code",discount_code);
                    localStorage.setItem("shop_name",Shopify.shop);
                  })
                  .catch((error) => {
                    console.error(error);
                  });
            }
        }
        if(my_address.includes("all_rewards"))
        {
            console.log("ALL REWARDS FUNCTIONALITY HERE");

            const queryString = window.location.search;
            console.log(queryString);

            const urlParams = new URLSearchParams(queryString);
            console.log(urlParams);

            const variant_id = urlParams.get('variant_id');
            console.log(variant_id);

            const discount_code = urlParams.get('discount_code');
            console.log(discount_code);

            const myArray = variant_id.split(",");

            const final_list = [];
            for (let i = 0; i < myArray.length; i++) {
                console.log(myArray[i]);
                final_list.push( { quantity: 1, id: myArray[i], } );
            }

            let formData2 = {

                items: final_list,
            };

            fetch('/cart/add.js', {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json'
                },
                body: JSON.stringify(formData2)
              })
              .then(response => {
                return response.json();
              })
              .then((data) => {
                console.log(data);
                window.location.href = "https://"+Shopify.shop+"/cart";
                localStorage.setItem("discount_code",discount_code);
                localStorage.setItem("shop_name",Shopify.shop);
              })
              .catch((error) => {
                console.error(error);
              });
        }
        if(my_address.includes("cart"))
        {
            console.log("Please Let me know. here is the cart");

            document.querySelectorAll('[name="checkout"]')[1].addEventListener('click',function(event){
                event.preventDefault();
                console.log("CTH");
                localStorage.getItem("discount_code");
                localStorage.getItem("shop_name");
                var action_src = "https://"+localStorage.getItem("shop_name")+"/checkout?discount=" + localStorage.getItem("discount_code");
                console.log(action_src);
                window.location.href = action_src;
            });
        }
    });

</script>

{% schema %}
  {
    "name": "ATC_LINK",
    "target": "section"
  }
{% endschema %}
