.loader {
    border: 16px solid hsl(0, 0%, 95%);
    border-radius: 50%;
    border-top: 16px solid #EF694B;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    top: 40%;
    vertical-align: middle;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99999;
  }

  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .loaderHeight {
      min-height: 600px;
  }
